force-app/main/default/flows/Funding_Payment_Management_grantFlex.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <description>Determine if we need to create the payment funding allocation</description>
        <name>Generate_Payment_Funding_Allocation</name>
        <label>Generate Payment Funding Allocation</label>
        <locationX>578</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Payment_No_Allocation_Rollup_Decisions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_GENERATE_PAYMENT_FUNDING_ALLOCATION</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.gf8__Funding_Payment_Management__c.gf8__Process_Payment_Funding_Allocations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__General_Accounting_Unit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__Funding_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__Allocation_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.gf8__Funding_Request_Management__c.gf8__Funding_Payment_Paid_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.gf8__Funding_Request_Management__c.gf8__Funding_Payment_Payment_RecordType__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Funding_Allocation</targetReference>
            </connector>
            <label>YES GENERATE PAYMENT FUNDING ALLOCATION</label>
        </rules>
        <rules>
            <name>YES_GENERAL_CANCELLATION_FUNDING_ALLOCATION</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.gf8__Funding_Payment_Management__c.gf8__Process_Payment_Cancellation_Allocations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.gf8__Funding_Request_Management__c.gf8__Funding_Payment_Cancelled_RecordType__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__General_Accounting_Unit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__Funding_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__Return_Cancellation_Allocation_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__Return_Cancellation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Funding_Allocation_Cancellation</targetReference>
            </connector>
            <label>YES GENERAL CANCELLATION FUNDING ALLOCATION</label>
        </rules>
        <rules>
            <name>Yes_Generate_Return_Funding_Allocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.gf8__Funding_Payment_Management__c.gf8__Process_Payment_Return_Allocations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__General_Accounting_Unit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__Funding_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__Return_Cancellation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__Return_Cancellation_Allocation_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.gf8__Funding_Request_Management__c.gf8__Funding_Payment_Return_RecordType__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Funding_Allocation_Return</targetReference>
            </connector>
            <label>Yes Generate Return Funding Allocation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Has_Been_Cancelled_Check</name>
        <label>Payment Has Been Cancelled Check</label>
        <locationX>578</locationX>
        <locationY>1331</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_PAYMENT_IS_CANCELLED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.gf8__Generate_Cancellation_Record__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cancellation_Payment_Record</targetReference>
            </connector>
            <label>YES PAYMENT IS CANCELLED</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine what rollups to process on the payment</description>
        <name>Payment_No_Allocation_Rollup_Decisions</name>
        <label>Payment No Allocation Rollup Decisions</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Payment_Has_Been_Cancelled_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_UPDATE_PAYMENT_ALLOCATION_NOT_PAID</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.gf8__Funding_Payment_Management__c.gf8__Process_Payment_Funding_Allocations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.gf8__Funding_Payment_Management__c.gf8__Process_Payment_Funding_Allocations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.gf8__Funding_Request_Management__c.gf8__Funding_Payment_Paid_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.gf8__Funding_Request_Management__c.gf8__Funding_Payment_Payment_RecordType__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payment_Paid_Rollup_Values</targetReference>
            </connector>
            <label>YES UPDATE PAYMENT ALLOCATION NOT PAID</label>
        </rules>
        <rules>
            <name>YES_UPDATE_PAYMENT_ALLOCATION_PAID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.gf8__Funding_Payment_Management__c.gf8__Process_Payment_Funding_Allocations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.gf8__Funding_Request_Management__c.gf8__Funding_Payment_Paid_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.gf8__Funding_Request_Management__c.gf8__Funding_Payment_Payment_RecordType__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payment_as_Payment_Paid</targetReference>
            </connector>
            <label>YES UPDATE PAYMENT ALLOCATION PAID</label>
        </rules>
        <rules>
            <name>YES_PAYMENT_NO_ALLOCATION_CANCELLED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.gf8__Funding_Payment_Management__c.gf8__Process_Payment_Cancellation_Allocations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.gf8__Funding_Request_Management__c.gf8__Funding_Payment_Cancelled_RecordType__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payment_as_Cancelled</targetReference>
            </connector>
            <label>YES PAYMENT NO ALLOCATION CANCELLED</label>
        </rules>
        <rules>
            <name>YES_PAYMENT_NO_ALLOCATION_RETURN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.gf8__Funding_Payment_Management__c.gf8__Process_Payment_Return_Allocations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.gf8__Funding_Request_Management__c.gf8__Funding_Payment_Return_RecordType__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payment_as_Returned</targetReference>
            </connector>
            <label>YES PAYMENT NO ALLOCATION RETURN</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if the general account unit is present and needs to be populate on the payment</description>
        <name>Set_General_Account_Unit</name>
        <label>Set General Account Unit</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Generate_Payment_Funding_Allocation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_SET_GENERAL_ACCOUNT_UNIT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.gf8__General_Accounting_Unit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__Funding_Request__r.gf8__General_Accounting_Unit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GAU_on_Payment</targetReference>
            </connector>
            <label>YES SET GENERAL ACCOUNT UNIT</label>
        </rules>
    </decisions>
    <description>This process builder handled funding payment creation and the creation of associated funding allocations</description>
    <environments>Default</environments>
    <formulas>
        <name>cancellationAmount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.gf8__Amount__c} * -1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fundingPaymentPaidAllocationFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.gf8__Generate_Cancellation_Record__c} == true, false, true)</expression>
    </formulas>
    <formulas>
        <name>hasGeneratedACancellationRecord</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.gf8__Generate_Cancellation_Record__c} == TRUE, FALSE, TRUE)</expression>
    </formulas>
    <interviewLabel>Funding Payment Management (grantFlex) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Funding Payment Management (grantFlex)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cancellation_Payment_Record</name>
        <label>Create Cancellation Payment Record</label>
        <locationX>446</locationX>
        <locationY>1439</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.gf8__Funding_Request_Management__c.gf8__Funding_Payment_Cancelled_RecordType_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Amount__c</field>
            <value>
                <elementReference>cancellationAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Cancellation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Funding_Payment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Funding_Request__c</field>
            <value>
                <elementReference>$Record.gf8__Funding_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__General_Accounting_Unit__c</field>
            <value>
                <elementReference>$Record.gf8__General_Accounting_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Return_Cancellation_Date__c</field>
            <value>
                <elementReference>$Record.gf8__Return_Cancellation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Return_Cancellation_Reason__c</field>
            <value>
                <elementReference>$Record.gf8__Return_Cancellation_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Scheduled_Date__c</field>
            <value>
                <elementReference>$Record.gf8__Scheduled_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>gf8__Funding_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create the funding allocation</description>
        <name>Create_Funding_Allocation</name>
        <label>Create Funding Allocation</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Confirm_Allocation_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>gf8__Amount__c</field>
            <value>
                <elementReference>$Record.gf8__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Date__c</field>
            <value>
                <elementReference>$Record.gf8__Paid_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Funding_Payment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Funding_Request__c</field>
            <value>
                <elementReference>$Record.gf8__Funding_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__General_Accounting_Unit__c</field>
            <value>
                <elementReference>$Record.gf8__General_Accounting_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Payment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Status__c</field>
            <value>
                <stringValue>Ready to Post</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Type__c</field>
            <value>
                <elementReference>$Setup.gf8__Funding_Request_Management__c.gf8__Allocation_Payment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>gf8__Funding_Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create the funding allocation</description>
        <name>Create_Funding_Allocation_Cancellation</name>
        <label>Create Funding Allocation Cancellation</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Confirm_Allocation_Created_Cancellation</targetReference>
        </connector>
        <inputAssignments>
            <field>gf8__Amount__c</field>
            <value>
                <elementReference>$Record.gf8__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Date__c</field>
            <value>
                <elementReference>$Record.gf8__Return_Cancellation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Funding_Payment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Funding_Request__c</field>
            <value>
                <elementReference>$Record.gf8__Funding_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__General_Accounting_Unit__c</field>
            <value>
                <elementReference>$Record.gf8__General_Accounting_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Refund_Cancellation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Status__c</field>
            <value>
                <stringValue>Ready to Post</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Type__c</field>
            <value>
                <elementReference>$Setup.gf8__Funding_Request_Management__c.gf8__Allocation_Refund_Cancellation_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>gf8__Funding_Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create the funding allocation</description>
        <name>Create_Funding_Allocation_Return</name>
        <label>Create Funding Allocation Return</label>
        <locationX>710</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Confirm_Allocation_Created_Return</targetReference>
        </connector>
        <inputAssignments>
            <field>gf8__Amount__c</field>
            <value>
                <elementReference>$Record.gf8__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Date__c</field>
            <value>
                <elementReference>$Record.gf8__Return_Cancellation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Funding_Payment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Funding_Request__c</field>
            <value>
                <elementReference>$Record.gf8__Funding_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__General_Accounting_Unit__c</field>
            <value>
                <elementReference>$Record.gf8__General_Accounting_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Refund_Cancellation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Status__c</field>
            <value>
                <stringValue>Ready to Post</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Type__c</field>
            <value>
                <elementReference>$Setup.gf8__Funding_Request_Management__c.gf8__Allocation_Refund_Cancellation_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>gf8__Funding_Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Update current payment record to confirm the allocation has been created</description>
        <name>Confirm_Allocation_Created</name>
        <label>Confirm Allocation Created</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Payment_No_Allocation_Rollup_Decisions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>gf8__Allocation_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Cancellation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Payment_Paid__c</field>
            <value>
                <elementReference>fundingPaymentPaidAllocationFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Payment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Return__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>gf8__Funding_Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update current payment record to confirm the allocation has been created</description>
        <name>Confirm_Allocation_Created_Cancellation</name>
        <label>Confirm Allocation Created Cancellation</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Payment_No_Allocation_Rollup_Decisions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>gf8__Cancellation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Payment_Paid__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Payment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Return_Cancellation_Allocation_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Return__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>gf8__Funding_Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update current payment record to confirm the allocation has been created</description>
        <name>Confirm_Allocation_Created_Return</name>
        <label>Confirm Allocation Created Return</label>
        <locationX>710</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Payment_No_Allocation_Rollup_Decisions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>gf8__Cancellation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Payment_Paid__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Payment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Return_Cancellation_Allocation_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Return__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>gf8__Funding_Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Payment_as_Cancelled</name>
        <label>Set Payment as Cancelled</label>
        <locationX>578</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Payment_Has_Been_Cancelled_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>gf8__Cancellation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Payment_Paid__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Payment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Return__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Payment_as_Payment_Paid</name>
        <label>Set Payment as Payment Paid</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Payment_Has_Been_Cancelled_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>gf8__Cancellation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Payment_Paid__c</field>
            <value>
                <elementReference>hasGeneratedACancellationRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Payment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Return__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Payment_as_Returned</name>
        <label>Set Payment as Returned</label>
        <locationX>842</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Payment_Has_Been_Cancelled_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>gf8__Cancellation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Payment_Paid__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Payment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Return__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Payment_Paid_Rollup_Values</name>
        <label>Set Payment Paid Rollup Values</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Payment_Has_Been_Cancelled_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>gf8__Cancellation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Payment_Paid__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Payment__c</field>
            <value>
                <elementReference>fundingPaymentPaidAllocationFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf8__Return__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the funding payment general accounting unit</description>
        <name>Update_GAU_on_Payment</name>
        <label>Update GAU on Payment</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Generate_Payment_Funding_Allocation</targetReference>
        </connector>
        <inputAssignments>
            <field>gf8__General_Accounting_Unit__c</field>
            <value>
                <elementReference>$Record.gf8__Funding_Request__r.gf8__General_Accounting_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_General_Account_Unit</targetReference>
        </connector>
        <object>gf8__Funding_Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
