force-app/main/default/flows/Funding_Allocation_Management_grantFlex.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <description>Check what type of allocation is being processed to determine next steps</description>
        <name>Allocation_Type_Check</name>
        <label>Allocation Type Check</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Commitment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.gf8__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.gf8__Funding_Request_Management__c.gf8__Allocation_Commitment_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Commitment_Checkbox</targetReference>
            </connector>
            <label>Is Commitment</label>
        </rules>
        <rules>
            <name>Is_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.gf8__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.gf8__Funding_Request_Management__c.gf8__Allocation_Payment_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payment_Checkbox</targetReference>
            </connector>
            <label>Is Payment</label>
        </rules>
        <rules>
            <name>Is_Refund_Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.gf8__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.gf8__Funding_Request_Management__c.gf8__Allocation_Refund_Cancellation_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Refund_Cancellation_Checkbox</targetReference>
            </connector>
            <label>Is Refund Cancellation</label>
        </rules>
    </decisions>
    <description>This process will support the management of a  funding allocation and ensure that the correct rollup requirements are met.</description>
    <environments>Default</environments>
    <interviewLabel>Funding Allocation Management (grantFlex) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Funding Allocation Management (grantFlex)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Commitment_Checkbox</name>
        <label>Set Commitment Checkbox</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>gf8__Commitment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Payment_Checkbox</name>
        <label>Set Payment Checkbox</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>gf8__Payment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Refund_Cancellation_Checkbox</name>
        <label>Set Refund / Cancellation Checkbox</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>gf8__Refund_Cancellation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Allocation_Type_Check</targetReference>
        </connector>
        <object>gf8__Funding_Allocation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
