force-app/main/default/flows/Review_Management_grantFlex.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <description>Decision to confirm if we need to update the review name</description>
        <name>Check_Review_Name</name>
        <label>Check Review Name</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Received_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Review_Name_is_Funding_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Funding Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Review_Name</targetReference>
            </connector>
            <label>Review Name is Funding Review</label>
        </rules>
    </decisions>
    <decisions>
        <description>We need to check to see if a review update has been received</description>
        <name>Update_Received_Check</name>
        <label>Update Received Check</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_Received_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.gf8__Reviewer_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__Reviewer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>For Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gf8__Date_Received__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>YES Received Update</label>
        </rules>
    </decisions>
    <description>This process will ensure that a review picks up the correct setting</description>
    <environments>Default</environments>
    <formulas>
        <description>This formula outputs the new review name for use on the review record</description>
        <name>newReviewName</name>
        <dataType>String</dataType>
        <expression>{!$Record.gf8__Funding_Request__r.gf8__Project_Name__c} + &apos; - &apos; + {!$Record.gf8__Meeting__r.Name}</expression>
    </formulas>
    <interviewLabel>Review Management (grantFlex) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Review Management (grantFlex)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Set the new review name on the review record</description>
        <name>Set_Review_Name</name>
        <label>Set Review Name</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Received_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>newReviewName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Review_Name</targetReference>
        </connector>
        <object>gf8__Review__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
